  <div class="alumnoFormContainer">
    <form class="alumnoForm" [formGroup]="alumnosForm" (submit)="onSubmit()">
        <mat-form-field>
          <mat-label for="nombre">Nombre:</mat-label>
          <input matInput type="text" id="nombre" formControlName="nombre">
        </mat-form-field>

        <mat-form-field>
          <mat-label for="apellido">Apellido:</mat-label>
          <input matInput type="text" id="apellido" formControlName="apellido">
        </mat-form-field>

        <mat-form-field>
          <mat-label for="direccion">Dirección:</mat-label>
          <input matInput type="text" id="direccion" formControlName="direccion">
        </mat-form-field>

        <mat-form-field>
          <mat-label for="telefono">Teléfono:</mat-label>
          <input matInput type="text" id="telefono" formControlName="telefono">
        </mat-form-field>

        <mat-form-field>
          <mat-label for="email">Email:</mat-label>
          <input matInput type="email" id="email" formControlName="email">
        </mat-form-field>
     
        @if (isEmailInvalid) {
          <p style="color: red;">Email no es válido</p>
        }
       
        <button matButton="filled" type="submit">Registrar Alumno</button>

    </form>
</div>
